@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-textColor;
  font-family: 'Poppins-Regular', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
